.title {
    text-align: center;
    padding-top: 2rem;
    background-color: #080808;
}

.cardContent {
    display: flex;
    flex-direction: column;
}

.allCards {
    display: flex;
    background-color: #080808;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    margin: 1rem;
    margin-top: 3rem;
    border: 2px outset #019b01;
    border-radius: 10px;
    width: 10rem;
    height: 15rem;
    align-items: center;
    transition: .3s all;
    justify-content: space-around;
}

.card:hover {
    transform: scale(1.06);
    background-image: radial-gradient(#00000000, #00000000, #00000000, #18181800, #86ff010d);
}

.link {
    height: 9rem;
    display: flex;
    background-color: #080808;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    transition: all .6s;
}

.link:hover {
    transform: scale(1.04);
}

.imgCard {
    width: 5rem;
    height: 5rem;
    background-color: #080808;
    border: 2px outset #080808;
    transition: all .5s;
}

.imgCard:hover {
    transform: scale(1.05);
    border: 2px inset #080808;
}

.verProducto {
    height: 2rem;
    width: 7rem;
    border-radius: 10px;
    transition: .2s all ease;
    border: 2px outset #101010;
}

.verProducto:hover {
    transform: scale(1.05);
    border: 2px inset #101010;
}

.namePrice {
    background-color: #080808;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.5rem;
    justify-content: space-between;
}

.titleCard {
    background-color: #080808;
    font-size: 22px
}

.priceCard {
    font-size: 32px;
    background-color: #080808;
    border: 2px outset #080808;
    padding: .4rem;
    border-radius: 10px;
}