.titleProduct {
    text-align: center;
    background-color: #080808;
    margin-top: 2rem;
}

.divContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #080808;
    justify-content: center;
}

.searchContent {
    display: flex;
    height: 2rem;
    justify-content: center;
    background-color: #080808;
    grid-area: main;
}

.span-border {
    width: 10.4rem;
    position: relative;
    background-color: #080808;
    border-top: 45px solid #181818;;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.search-input {
    position: absolute;
    width: 10rem;
    padding: 0.2rem;
    font-size: 20px;
    border: 3px solid #181818;;
    border-top: none;
}

.search-input:focus {
    border-top: none;
}
