.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
        "nav nav nav nav"
        "... main main ..."
        "footer footer footer footer";
}

.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    height: 100vh;
    grid-area: main;
}

.titleProduct {
    text-align: center;
    background-color: #080808;
    margin-top: 2rem;
}

.divContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #080808;
    justify-content: center;
}