.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    height: 100vh;
    grid-area: main;
}

.titleProduct {
    text-align: center;
    background-color: #080808;
    margin-top: 4rem;
}

.divContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #080808;
    justify-content: center;
}